#myCanvas {
	border: 5px solid #d3d3d3;
}

#myXVelocity {
	font-size: 30px;
}

#myYVelocity {
	font-size: 30px;
}

#wrapper-left {
	float: left;
}

input {
	width: 750px;
}

textarea {
	width: 800px;
	height: 200px;
}